@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.margin{
    margin-right: 99px;
}
body{
    width: 1450px;
    overflow-x: auto;

}

.headbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.headbar .name{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}
.headbar .resume{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 24px 17px 24px;
}
header .banner{
    background-image: url('./assets/Hero-bg.png');
    text-align: center;
    height: 652px;
}
header .banner h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    
}
header .banner p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.8;
}
header .banner button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
}
header .banner button a{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
}
.wwd{
    width: 946px;
    height: 1072px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 80px;
    margin-left: 150px;
}
.wwd h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}
.wwd p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.wwd .wwd-content-container{
    display: flex;
    margin-top: 80px;
    margin-left: 90px;
}
.wwd .wwd-content{
    width: 477px;
    height: 220px;
}
.wwd h4{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;

}
.wwd button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 15px 20px 15px 20px;
}
.wwd button a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
}
#inspiration{
    width: 1140px;
    height: 775px;
    margin-top: 80px;
    margin-left: 150px;
}
#inspiration h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
#inspiration p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 50px;
}
#inspiration iframe{
    border-radius: 16px;
    width: 1076px;
    height: 550px;
    padding: 32px;
}
#target{
width: 1140px;
height: 866px;
margin-top: 80px;
margin-left: 150px;

}
#target .target-current , #target .target-next{
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin-top: 90px;
}
#target .target-current div{
    width: 300px;
    border-radius: 16px;
    padding: 40px;
}
#target h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
#target p{
    color: rgb(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}
#target p {
    text-align: center;
}
#target .target-current p , #target .target-next p{
    text-align: left;
}
#target h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
#target img{
    margin: 0px 24px;
}
#target .target-next img{
    margin-top: 35px;
}
#target a{
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
#target .target-next{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
}
#support{
    width: 1140px;
    height: 314px;
    background-size: cover;
    border-radius: 16px;
    margin-top: 1000px;
    background-repeat: no-repeat;
    margin-left: 150px;
    background-image:  url("./assets/handshake.jpg");
}
#support h3{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 50px;
}
#support p{
    color: rgb(255, 255, 255 , 0.7);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
#support form{
    text-align: center;
}
#support form input{
    font-family: Azeret Mono;
    padding: 17px 22px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    text-align: center;
}
#support form input[type="text"]{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    width: 560px;
    height: 57px;
    margin: 0px 16px;
}
#support form input [type="submit"]{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    background: rgb(255, 255, 255);
    width: 120px;
    height: 58px;
}
#footer {
    margin-top: 80px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    padding: 32px 150px;
    display: flex;
    justify-content: space-between;
}
#footer .commitment{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
#footer #image img{
    margin-right: 20px;
}